/*style for the_magic_slab */
body{
    background: #FEC77E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
header, nav, .title, .containerbutton, .freshly, .secondline, .containerhover, .everyday, .containericecream, .featured, .logoscontainer{
    display: flex;
}
header{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 12.8vh;
    font-weight: 700;
    border-bottom: #000000 solid 2px;
}
nav{
    align-items: center;
}
nav a{
    display: inline-flex;
    text-decoration: none;
    font-size: 19px;
    color: #000000;
    padding: 7px;
}
.title{
    align-items: center;
    font-size: 80px;
    color: #CC2A41;
}
.containerbutton{
    align-items: center;
}
#button{
    height: 53px;
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
    background: #CC2A41;
    border: #CC2A41;
    color: #ECE9E9;
}
h2{
    text-align: center;
    color: #CC2A41;
    font-weight: 400;
}
.freshly{
    justify-content: center;
    margin-top: 69px;
    font-size: 196px;
}
.secondline{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: -120px;
    margin-left: -145px;
}
.containerhover{
    flex-direction: column;
    margin-bottom: -100px; 
    margin-right: 50px; 
}
.hover{
    color: #BD571B;
    font-size: 27px;
    margin-bottom: -25px;
}
.churned{
    font-size: 201px;
}
.everyday{ 
    justify-content: center;
    margin-top: 40px;
    font-size: 210px;
}
.containericecream{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: -175px;
    height: 85vh;
}
.ice_cream_1{
    margin-left: 24px;
    margin-bottom: 300px;
    width: 80px;
}
.ice_cream_2{
    height: 307px;
    margin-left: -35px;
    margin-bottom: 100px;
}
.ice_cream_3{
    height: 494px;
    margin-left: -150px;
}
.ice_cream_4{
    height: 494px;
    margin-left: -170px;
}
.ice_cream_5{
    height: 307px;
    margin-left: -100px;
    margin-bottom: 100px;
}
.ice_cream_6{
    margin-right: 24px;
    margin-bottom: 300px;
    width: 80px;
}
footer{
    height: 35vh;
}
.featured{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.logoscontainer{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
